@model HomeController.ViewModel
@{
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
    ViewData["Title"] = Model.CurentGroup.Name;
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<div class="bd-right-main-product">
    <input type="hidden" id="router-id" value="@Model.GroupId" />

    <div class="list-card-product">
        <img src="~/image/san-pham-ban-chay.svg" />
        <h2 class="special-offer-banner">@Model.CurentGroup.Name</h2>
        <div id="list-card-product" class=" cards">
            @await Html.PartialAsync("_CardProducts", Model.Products )
        </div>
    </div>

</div>

<div class="bd-right-main-product">


</div>

@section CurentLink{
    <li><a>/</a></li>
    <li>
        <a asp-controller="home" asp-action="group" asp-route-group="@Model.CurentGroup.Id">@Model.CurentGroup.Name</a>
    </li>
}

@section MenuGroups {
    @await Component.InvokeAsync(MenuGroups.COMPONENTNAME,
             new MenuGroups.Menu()
             {
                 CurentGroup = Model.CurentGroup,
                 Groups = Model.Groups,
                 GroupId = Model.GroupId,
                 listSerialUrl = Model.listSerialUrl

             })
}

@section MenuSmallGroups{
    @await Component.InvokeAsync(MenuGroups.COMPONENTNAME,
             new MenuGroups.Menu()
             {
                 CurentGroup = Model.CurentGroup,
                 Groups = Model.Groups,
                 GroupId = Model.GroupId,
                 listSerialUrl = Model.listSerialUrl

             })
}

@section Scripts{

}