@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng tới nhà thuốc Go</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Trang web đang xây dựng chờ hoàng thành</a>.</p>
</div>


<div class="banner">
    <img src="~/imagemanager/banner/bannergo-ph.jpg" />
</div>

