@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="row mt-5" id="row-1855418563">

	<div id="col-2047671417" class="col medium-6 small-12 large-6">
				<div class="col-inner">
			
			
<p><span style="font-size: 120%;"><strong>NHÀ THUỐC GO PHARMACY – CHI NHÁNH 1</strong></span></p>
<ul>
<li><strong>Địa chỉ</strong> 452/25 Lê Hồng Phong, Phước Long, Tp. Nha Trang (Đường số 28 giao với đường số 4, khu đô thị Phước Long A)</li>
<li><strong>Hotline: </strong>0981 031 068</li>
</ul>
<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3899.4564554841263!2d109.1850673759173!3d12.217342530964105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31705dbf6b20724b%3A0x232412ce1560dc9!2sGo%20Pharmacy%20Nha%20Trang!5e0!3m2!1svi!2s!4v1699599867859!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
		</div>
					</div>

	

	<div id="col-314868445" class="col medium-6 small-12 large-6">
				<div class="col-inner">
			
			
<p><span style="font-size: 120%;"><strong>NHÀ THUỐC GO PHARMACY – CHI NHÁNH 2</strong></span></p>
<ul>
<li><strong>Địa chỉ:</strong> Shophouse 28-29, Chung cư PH, Võ Thị Sáu, P. Vĩnh Trường, , Tp. Nha Trang, Khánh hòa</li>
<li><strong>Hotline:</strong> 0981 03 1068 – 0903 47</li>
</ul>
<p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3899.570984014476!2d109.1993630759173!3d12.209568231125196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317067129720ca3b%3A0x6d21f78f6865b2cc!2sNh%C3%A0%20Thu%E1%BB%91c%20GO%20-%20GO%20Pharmacy!5e0!3m2!1svi!2s!4v1699600033975!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
		</div>
		</div>

	
</div>