@model CartController.ViewCartModel

@{
    Layout = "~/Views/Shared/_LayoutTop.cshtml";
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}
<div class="container">

    <div class="title">
        <i class="bi bi-cart-check"></i> Giỏ hàng
    </div>
    <div id="shopping-cart" class="shopping-cart">
   
            @await Html.PartialAsync("_ItemCartPartial", Model.ProductCarts )
    </div>

   

</div>

@section MenuSmallGroups{
    @await Component.InvokeAsync(MenuGroups.COMPONENTNAME,
             new MenuGroups.Menu()
             {
                 Groups = Model.Groups,
             })
}

@section Scripts{
    <script src="~/js/addtocart.js"></script>
}

                    