<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GOPH</title>

    @await RenderSectionAsync("FacebookSharedHead", required: false)
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GOPH.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
      rel="Stylesheet" type="text/css" />
    <link href="~/css/navbar-search.css" rel="stylesheet" />
    <link href="~/css/detail-product.css" rel="stylesheet" />
    <link href="~/css/alert.css" rel="stylesheet" />
    <link href="~/css/cart.css" rel="stylesheet" />
    @await RenderSectionAsync("ImageManager", required: false)

    @RenderSection("BannerEvent", required: false)

    
</head>
<body>
    <header>
        <nav  class="header navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
            
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">                   
                    <img width="60" height="auto" src="~/logo/go-pharmacy.png" class="header_logo header-logo" alt="Nhà Thuốc GO – Hệ Thống Nhà Thuốc Lớn Tại Nha Trang">

                </a>
               
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        <li class="nav-item text-white">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Thông tin</a>
                        </li>
                        @await Html.PartialAsync("_WholesalePartial")
                    </ul>
                    <ul class="navbar-nav manager">
                        @await Html.PartialAsync("_ManagerPartial")

                    </ul>

                    @await Html.PartialAsync("_LoginPartial")
                </div>
               
            </div>
        </nav>
        @await RenderSectionAsync("NavbarTop", required: false)
      
        
    </header>
    <div class="container-lg">
        <main role="main" id="main">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("HostPhone", required: false)
    <footer class="border-top footer text-muted">

        <div class="container">
            &copy; 2023 - GOPH - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/microsoft-signalr/signalr.js"></script>
    <script src="~/js/internal-message.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
