@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@{
    var resultAuthorization = await authorizationService.AuthorizeAsync(this.User, "Employee");

    var resultAuthorizationManager = await authorizationService.AuthorizeAsync(this.User, "Admin");


}

@if (resultAuthorization.Succeeded)
{

    
}
<li class="nav-item">
    <a class="nav-link" asp-area="manager" asp-controller="Order" asp-action="Index">Đơn hàng @*<span id="mesage-count-order">0</span>*@</a>
</li>


@if (resultAuthorizationManager.Succeeded)
{
    
}
<li class="nav-item dropdown">
    <a class="nav-link" asp-area="Manager" asp-controller="product" asp-action="index">
        Manager
    </a>

</li>